# Используйте # в начале строки для обозначения комментария в файле
.dockerignore
# Исключать файлы и каталоги, имена которых начинаются с temp любого
непосредственного подкаталога корня
*/temp*
# Исключайте файлы и каталоги, начинающиеся с temp, из любого подкаталога,
который находится на два уровня ниже корня
*/*/temp*
# Исключить файлы и каталоги в корневом каталоге, имена которых являются
односимвольным расширением temp. Например, /tempa и /tempb исключены
temp?
*/node_modules
*/.git