.swiperItem {
  max-height: 56rem;
  max-width: 50rem;
}
.carousel-item img, .watchItem img {
  align-self: center;
  max-height: 56rem;
  max-width: 50rem;
}

.watchItem, .carousel-item, .active {
  display: flex;
  justify-content: center;
}

p {
  color: black;
}

