nav {
  background-color: #000; 
  padding: 10px; 
  height: 40px;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

body {
  background-image: url('https://www.swatch.com/dw/image/v2/BDNV_PRD/on/demandware.static/-/Library-Sites-swarp-global/default/dwce62d76c/project/hp/hp_header_1920x950_d_option1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

ul {
  list-style-type: none; 
  margin: 0;
  padding: 0;
}

li {
  display: inline; 
  margin-right: 20px; /
}

a {
  text-decoration: none; 
  color: white; 
  font-weight: bold; 
  font-size: 24px; 
}

a:hover {
  color: #ffcc00; 
}